.calling {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.name {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tech {
}
.action {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hangup {
  background-color: #c30000;
  height: 64px;
  width: 64px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 100px;
}
.hang {
  width: 32px;
  transform: rotate(-135deg);
}
