.lock {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time {
  font-size: 4em;
}

.datetime {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.unlock {
  border: 2px solid #1db954;
  height: 64px;
  width: 64px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 100px;
  right: 50px;
}
.app {
  width: 32px;
}
